{% extends 'base.html.twig' %}
{# on vient charger le template #}
{# AUCUN CODE HTML EN DEHORS DES BLOCKS TWIG #}

{% block titre%} Détail sur une idée de chose à faire | {{parent() }} {% endblock %}
{# avec parent je récupère le contenu du blc parent #}


{% block body%}
    <h1>Détail</h1>

    <h2>{{wish.title}}</h2>
    <p> Description : {{wish.description}}</p>
    <p>Auteur : {{wish.author}} </p>
    <p>Date de création : {{wish.dateCreated|date('d/m/Y')}} </p>

{% endblock %}